@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  height: 100%;
  margin: 0;
  background-image: url(assets/bg2.jpeg);
  background-position:bottom;
  background-repeat: no-repeat;
  background-size:cover;
}
body::-webkit-scrollbar {
  display: none;
}